<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/Task1">Task1</a>
        <a class="nav-link" href="/Task2">Task2</a>
        <a class="nav-link" href="/Task3">Task3</a>
        <a class="nav-link" href="/Task4">Task4</a>
        <a class="nav-link" href="/Task5">Task5</a>
      </div>
    </div>
  </div>
</nav>